:root {
    --top: 50%;
    --bg-color: #333;
    --text-color: white;
    --tooltip-color: rgba(20, 20, 20, 0.9);
}

body::-webkit-scrollbar {
    width: 0 !important;
}

.scroll-y::-webkit-scrollbar {
    width: 0 !important;
}

body {
    background-color: rgba(1, 5, 35, 1);
    width: 100%;
}

#not-found {
    display: block;
}

#not-found h2,
img {
    margin: 0 auto !important;
}

.rounded {
    border-radius: 50px;
}

.image-info {
    background-color: transparent;
    border-radius: 0.5rem;
    width: 90%;
    height: 300px;
    margin: 0 auto !important;
    display: block;
    overflow-y: hidden;
}
.intro{
    max-width:600px;
    margin-left:auto !important;
    margin-right:auto !important
}
.intro-message{
    text-align:center;
}
.intro-content{
    text-indent:1rem;
}
.image-div {
    position: relative;
}

.image-div::after {
    background-color: var(--tooltip-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: .5rem;
    width: max-content;
    max-width: 250px;
    height: auto;
    position: absolute;
    transform-origin: bottom;
    left: 100%;
    top: var(--top);
    transform: translateX(-5%) translateY(-50%);
    z-index: 100;
    transition: 150ms transform;
}

.image-div:hover::after {
    content: attr(data-toggle);

}

.image-div span {
    background-color: rgba(29, 24, 42, 0.8);
    font-weight: bold;
    position: absolute;
    display: block;
    padding: 5px;
    border-radius: 5px;
    max-width: calc(80%);
}

.card img:hover {
    width: 95%;
    height: 330px;
    box-shadow: 0px 0px 60px 10px powderblue;
}

.image-info:hover {
    box-shadow: 0px 0px 60px 10px powderblue;
}

.card {
    height: 400px;
    transition: height 2s;
    background-color: transparent;
}

.card-title {
    color: white;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
}

.search_results {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(32, 31, 40, 0.4);
    padding: 0.50rem 0px;

}

.form-register {
    height: auto;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(29, 24, 42, 0.8);
}

#id_username,
#id_password,
#id_email,
#id_re_password {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-btn {
    margin-left: 5%;
}

.form-login small {
    visibility: hidden;
}

.icon {
    padding: 10px;
    background: inherit;
    color: white;
    min-width: 30px;
    border-radius: 10px 0px 0px 10px !important;
    text-align: center;
}

.bottom-right-ani-type {
    bottom: 20%;
    left: 10%;
    color: lavenderblush;
}

.date-added {
    bottom: 20%;
    left: 10%;
    color: lavenderblush;
    background-color: #777f8c;
}
.top-right-ani-source {
    bottom: 5%;
    left: 10%;
    color:ghostwhite;
    max-width: calc(80%);
}

.btn-trigger {
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 0.2rem;
    border-radius: 5px;
    border: none;
    background-color: inherit;
}

.btn-trigger {
    max-width: 32px;
    max-height: 32px;
}

.nav-link:hover {
    color: darkturquoise;
}

.top-left-ani-rate {
    top: 5%;
    left: 10px;
    color: khaki;
}

.fw-normal {
    color: #3d4552;
    font-family: Arial, Helvetica, sans-serif;
}

.inputYear {
    width: 60px;
    height: auto;
    display: block;
    background-color: whitesmoke;
}

.input-group {
    max-width: 300px;
    margin: 20px auto;
}

#anime-image-cover {
    width: auto;
    height: auto;
    max-height: 350px;
    max-width: 270px;
    border-radius: 1.25rem;
}

#anime-title,
#anime-description,
#anime-image-cover {
    padding: 10px auto;
}

#anime-title,
#anime-cover {
    display: inline-block;
}

#anime-description {
    max-width: 700px;
    font-size: 1rem;
    justify-content: start;
    padding: 10px auto;
    margin-top: 30px;
    display: block;
}

.link-button {
    display: inline-block;
}

.frame-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    padding-bottom: 10%;
    overflow: hidden;
}

.frame-video {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 415px) {
    .search_results {
        margin-left: 3%;
        margin-right: 3%;
    }

    .form-register {
        width: 80%;
        margin: 10%;
    }

    .container {
        margin: 0 auto !important;
    }

    .frame-container {
        padding-top: 75%;
    }

    .link-button {
        margin: .3rem;
    }

    #anime-image-cover {
        margin: 10px auto 0 auto;
        display: block;
        width: 200px;
    }

    #anime-title {
        padding: 10px;
        margin: 20px;
        text-align: center;
    }

    #anime-description {
        padding: 10px;
        margin: 20px;
    }

    #anime-video-frame {
        height: 300px;
        width: 360px;

    }

    .image-div::after {
        display: none;
    }

    .row {
        width: inherit;
        --bs-gutter-x: 0;
    }

    .card:nth-child(2n+1),
    .card:nth-child(2n+2) {
        flex: 50%;
        height: 50%;
    }

    .image-info {
        max-width: 91%;
        max-height: 202px;
    }

    .fs-5 {
        font-size: 0.9rem !important;
    }
    .fs-6 {
        font-size: 0.8rem !important;
    }
    .image-div {
        max-height: 200px;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-info {
        height: inherit;
    }

    .btn-reference {
        padding: 0.20rem;
    }

    .bottom-right-ani-type {
        bottom: 27%;
    }



}