{% load static %}
{% load bootstrap4 %}
<!-- Scripts-->


{% if animes %}
{% for anime in animes %}
<div class="card p-sm-1 p-md-2 p-lg-3 mx-auto my-1 scroll-y border-0" style="width:18rem;">
  <div class='image-div' data-toggle='
    {% if anime.description %}
    {{ anime.description|truncatewords:50}}
    {%else%}
    {{ anime.title }}
    {%endif%}'>
    <!-- 1/29/2020 edited part -->
    <img class="border-0 card-img-top tooltipCheck image-info" src="{{ anime.cover }}" alt="{{ anime.title }}" />
    {%if user.is_authenticated %}
    <img class='btn-trigger' data-name='{{anime.title}}' data-id='{{user.id}}' data-vid-id={{anime.vid_id}}
      data-cover='{{anime.cover}}' src=' 
         {% if anime.title in bookmarks %}
            {%static "images/heart_selected.png"%}
          {%else%}
            {%static "images/heart_default.png"%}
          {%endif%}
          ' alt="bookmarks">
    <!-- </button> -->
    {%endif%}

    <form action="{% url 'stream_anime_by_id' %}" method='POST'>
      {%csrf_token%}
      <span class='top-right-ani-source'>
        <button class='btn btn-success btn-md btn-reference' name='watch' type='submit'
          value='{{ anime.vid_id }}'>Watch</button>
      </span>
    </form>
  </div>

  <!--Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>  -->
  <div class="card-body">
    <h5 class="card-title fs-5 text-center pb-2 rounded">{{ anime.title }}</h5>
  </div>
</div>
{%endfor%}
</div>

{%else%}
<div class='jumbotron'>
  <h3 class='display-5 text-mute text-info text-center mx-auto my-3'>No results found</h3>

  <img class='mx-auto d-block p-3' src="{%static 'images/anime_not_found.gif' %}" alt="page_not_found">
</div>
{%endif%}


<script src='{% static "js/ani-search_ajax.js" %}'></script>