{%extends 'aniCategory/base.html'%}
{% load static %}
{% load bootstrap4 %}

{%block title%}
Stream Search
{%endblock%}


{%block content%}

<!-- remove
<script>
  $('[data-toggle="tooltipTrigger"]').tooltip({
    trigger: 'hover'
  });
</script>
<!-- edited part -->
<!-- fock notes hahahaha -->
<!-- lmao hahaha -->
{% if animes %}
 

<div class="row">
  {% for anime in animes %} 
  <div class="card p-sm-1 p-md-2 p-lg-3 mx-auto my-1 scroll-y border-0"
    style="width:18rem;">
    <div class = 'image-div' data-toggle='
    {% if anime.description %}
    {{ anime.description|truncatewords:50}}
    {%else%}
    {{ anime.title }}
    {%endif%}'> 
        <!-- 1/29/2020 edited part -->
        <img class="border-0 card-img-top tooltipCheck image-info" src="{{ anime.cover }}"
          alt="{{ anime.title }}"   
          />
          
          {%if user.is_authenticated %}
          <button id = "bookmark" data-name= '{{anime.title}}' data-id = '{{user.id}}' data-vid-id = {{anime.vid_id}} data-cover = '{{anime.cover}}' >
          <img src="{%static 'images/heart_default.png'%}" alt="Bookmark">
          </button>
          {%endif%}
          <form action="{% url 'stream_anime_by_id' %}" method = 'POST' >
            {%csrf_token%}
        <span class = 'bottom-right-ani-type'>
          <button class = 'btn btn-success btn-md btn-reference' name = 'watch' type= 'submit' value = '{{ anime.vid_id }}'>Watch</button>
        </span>
        <span class = 'top-right-ani-source'>
          <button class ='btn btn-primary btn-md btn-reference' name = 'download' type= 'submit' value = '{{ anime.vid_id }}'>Download</button>
        </span>
      </form>
  </div>

<!--Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>  -->
    <div class="card-body">
      <h5 class="card-title fs-5 text-center pb-2 rounded">{{ anime.title }}</h5>
    </div>
  </div>
  {%endfor%}
</div>

{%else%}
<div class='jumbotron'>
  <h3 class='display-5 text-mute text-info text-center mx-auto my-3'>No results found</h3>
</div>
{%endif%}

{%endblock%}